.botText_a02df3 {    
    font-size: 10px;
    visibility: hidden;
    position: relative;
    
}


.botText_a02df3::before { 
    content: 'BOT';
    visibility: visible;
    position: absolute;
}

.userPopoutInner_c69a7b {
    overflow: auto;
}
.userPopoutInner_c69a7b::-webkit-scrollbar {
    display: none;
}